doctype html
html
  head
    title= 'Gatekeeper'
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    header.header
      .container
        a.brand(href='/auth/dashboard')
          img.brand-logo(src='/images/logo.png', alt='GateKeeper Logo')
          span.brand-text GateKeeper
        include partials/menu.pug
    main.container
      block content
    footer.footer
      .container
        p © GateKeeper
    
    include partials/modal.pug
    script(src='/javascripts/modal.js')
    block scripts
