nav
  if !user
    a(href='/auth/login') Login
  else
    a(href='/auth/dashboard') Dashboard
    if (user.role === 'admin' || user.role_name === 'Admin')
      a.menu-item(href='/secured/user') Benutzer
      a.menu-item(href='/secured/vlan') Räume
      a.menu-item(href='/secured/whitelist') Whitelists
    a.menu-item(href='/auth/logout') Logout